parameters:
    ascii:
        failed: ~
        succeeded: ~
    git_dir: .
    bin_dir: vendor/bin
    tasks:
        file_size:
            max_size: 2M
        phpstan:
        phpcs:
        git_blacklist:
            keywords:
                - "die("
                - "dump("
                - "var_dump("
