<?xml version="1.0" ?>
<ruleset
    name="PHP-OO course, using standard Doctrine coding standard."
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <rule ref="Doctrine"/>

    <exclude-pattern>bin/*.php</exclude-pattern>
    <exclude-pattern>tests/*.php</exclude-pattern>
    <exclude-pattern>src/Kernel.php</exclude-pattern>
    <exclude-pattern>vendor/**/*</exclude-pattern>
</ruleset>
